@import "~normalize.css";
@import "components/canvas";
@import "components/loading-overlay";
@import "components/sidebar";
@import "components/toolbar";

#editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.editor-wrapper {
  flex-grow: 1;
  display: flex;
}
