@mixin alias-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin text-style-body {
  font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-kerning: normal;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  line-height: 1.5;
  word-wrap: break-word;
}
