// Base color palette...
$blue-light: rgb(214, 246, 248);
$blue-medium: rgb(149, 232, 237);
$ink-medium: rgb(45, 45, 45);
$ink-dark: rgba(0, 0, 0, 0.73);

// Component colors...
$body-text-color: $ink-dark;
$button-text-color: white;
$button-background-color: $ink-medium;
